@import "common-styles/veriables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html {
  height: 100%;
  font-size: 1rem;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

.App {
  height: 100%;
}

.App-container {
  padding: 30px;
}

.fade-enter{
  opacity: 0;
  transform: translate(-100%, 0);
}
.fade-exit{
  display: none;
}
.fade-enter-active{
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active{
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active,
.fade-exit-active{
  transition: all ease 200ms;
}